@using Golmohammadi.ViewModels
@model List<SellFactorViewModel>

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-4">
            <h2>نام شرکت : شرکت گل محمدی</h2>
        </div>
        <div class="col-4">
            <h2>ادرس : ستارخان</h2>
        </div>
        <div class="col-4">
            <h2>تلفن :</h2>
        </div>
    </div>

    <h3>لیست مشتریان و محصولات</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    نام مشتری
                </th>
                <th>
                    ادرس
                </th>
                <th>
                    شهر
                </th>
                <th>
                    منطقه
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Customer.Name</td>
                    <td>@item.Customer.Address</td>
                    <td>@item.Customer.City</td>
                    <td>@item.Customer.Region</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    نام محصول
                </th>
                <th>
                    قیمت واحد
                </th>
                <th>
                    تعداد
                </th>
                <th>
                    قیمت کل
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.PriceUnit</td>
                    <td>@item.Unit</td>
                    <td>@item.TotalPrice</td>
                </tr>
            }
        </tbody>
    </table>

    <h3>فاکتور</h3>
    <form id="createFactorForm">
        <div class="border p-3 mt-4">
            <input id="Id" hidden />
            <div class="mb-3 row">
                <label class="p-0">نام مشتری</label>
                <select id="CustomerName" name="CustomerName" class="form-control">
                    @foreach (var customer in Model.First().Customers)
                    {
                        <option value="@customer.Name">@customer.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3 row">
                <label class="p-0">نام محصول</label>
                <select id="ProductName" name="ProductName" class="form-control">
                    @foreach (var product in Model.First().Products)
                    {
                        <option value="@product.Name">@product.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3 row">
                <label class="p-0">قیمت</label>
                <input type="number" id="PriceUnit" name="PriceUnit" class="form-control" />
            </div>
            <div class="mb-3 row">
                <label class="p-0">واحد</label>
                <input type="number" id="Unit" name="Unit" class="form-control" />
            </div>
            <div class="mb-3 row">
                <label class="p-0">قیمت کل</label>
                <input type="number" id="TotalPrice" name="TotalPrice" class="form-control" />
            </div>

            <div class="row row">
                <div class="col-6 col-md-3">
                    <button type="submit" id="Save" class="btn btn-primary form-control" onclick="Create()">Create</button>
                </div>
            </div>
        </div> 
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/sellform.js"></script>
