@using Golmohammadi.ViewModels
@model List<SellFactorViewModel>

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-4">
            <h2>نام شرکت : شرکت گل محمدی</h2>
        </div>
        <div class="col-4">
            <h2>ادرس : ستارخان</h2>
        </div>
        <div class="col-4">
            <h2>تلفن :</h2>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    نام مشتری
                </th>
                <th>
                    ادرس
                </th>
                <th>
                    شهر
                </th>
                <th>
                    منطقه
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Customer.Name</td>
                    <td>@item.Customer.Address</td>
                    <td>@item.Customer.City</td>
                    <td>@item.Customer.Region</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    نام محصول
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

